.FormStepInfo {
    display: flex;
/* margin: 0 auto;	 */
align-items: center;
    margin-bottom: 170px;
}
.FormStepInfo form{
	display: flex;
    flex-direction: column;
    width: 800px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.FormStepInfo form input {
    margin: 0 30px 20px 10px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
}

.next-back-form1 {
    margin: 40px auto;
}

.FormStepInfo form button {
    /* padding: 15px 20px;
    border: none;
    outline: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: lightskyblue;
    margin: auto;
    border-radius: 4px;
    cursor: pointer; */
    /* display: flex; */
    /* margin: 0 auto; */
    /* justify-content: center; */
    padding: 10px 20px;


}

.FormStepInfo form button:hover > span {
    position: relative;
    bottom: 5px;
    transition: 0.2s;
}
.FormStepInfo form button:not(:hover) > span {
    position: relative;
    bottom: 0;
    transition: 0.2s;
}
.FormStepInfo form button span {
    position: relative; 
    bottom:  0;
}

.FormStepInfo .online-template .wrapper {
    min-height: 200px !important; 
}